<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/delete.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="your-project-dir/icon-font/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <title>Document</title>
</head>
<body>
    <div class="contact">
        <div class="logo">
            <img src="/assets/2.png" alt="Logo">
        </div>
        <div class="contact-icon">
            <i class="fas fa-phone has-text-white"></i> 
            <p class="has-text-white">Support</p>
        </div>
        <div class="contenair-user">
           
                <div class="userphoto">
                    <img src="/assets/user.jpg" alt="" srcset="">
                </div>
                <p class="has-text-white">jean charles</p>
          
        </div>
    </div>
    <header>
    </header>
    
    <main>
        <div class="sidebar">


           
            <div class="contenair-sidebarr">
                <ul>
                    <li class="sizeIcon is-size-7"><i class="fas fa-home is-size-6"></i> <a href="http://localhost:3000">Home</a></li>
                    <li class="sizeIcon is-size-7"><i class="fas fa-plus is-size-6 "></i> <a href="http://localhost:3000/ajout">Add prop</a> </li>
                    <li class="sizeIcon is-size-7"><i class="fas fa-edit is-size-6 "></i><a href="http://localhost:3000/edit">Edit prop</a></li>
                    <li class="sizeIcon is-size-7"><i class="fas fa-trash-alt is-size-6 "></i><a href="http://">Delete</a></li>
                    <li class="sizeIcon is-size-7"><i class="fas fa-search is-size-6 "></i><a href="http://">Search</a></li>
                </ul>
            </div>
            <div class="title-other">
                <strong class="has-text-white">Switch on</strong>
            </div>
            <div class="other-software">

                <div class="contenair-otherSoftware">
                    
                     <ul>
                        
                        <li><img src="/assets/1.png" alt="" srcset="">logiciel1</li>
                        <li><img src="/assets/3.png" alt="" srcset=""> logiciel2</li>
                        <li><img src="/assets/4.png" alt="" srcset="">logiciel3</li>
                        <li><img src="/assets/5.png" alt="" srcset=""> logiciel4</li>
                        <li><img src="/assets/6.png" alt="" srcset="">logiciel5</li>
                     </ul>
                </div>
            </div>
            <div class="logout">
                <i class="fas fa-user"></i>
                <p>Logout</p>
            </div>
        </div>